[submodule "software/orca"]
	path = software/orca
	url = https://github.com/drunkpony/orca.git
[submodule "software/cvra-modules"]
	path = software/cvra-modules
    url = https://github.com/drunkpony/cvra-modules
[submodule "software/rplidar"]
	path = software/rplidar
    url = https://github.com/JeremySavonet/rplidar.git
[submodule "software/astar"]
	path = software/astar
	url = https://github.com/JeremySavonet/astar.git
